<!DOCTYPE html>

<html xmlns="w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Barbearia Dois Irmãos</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <h1>Barbearia Dois Irmãos</h1>
        
        <nav>
            <a th:href="@{/inicio}">Início</a>
            <a th:href="@{/cadastrar}">Agendar</a>
            <a th:href="@{/listagem}">Lista de Agendamentos</a>
        </nav>
        
        <img th:src="@{/images/logo.png}" alt="alt"/>
        
    </body>
</html>