<!DOCTYPE html>

<html xmlns="w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Barbearia Dois Irmãos</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!--link pra carregar o CSS-->
        <link rel="stylesheet" type="text/css" th:href="@{/css/estilo.css}"/>
    </head>
    <body>
        <h1>Barbearia Dois Irmãos</h1>
        
        <nav>
            <a th:href="@{/inicio}"><input id="btn" type="button" value="Início"></a>
            <a th:href="@{/cadastrar}"><input id="btn" type="button" value="Agendar"></a>
            <a th:href="@{/listagem}"><input id="btn" type="button" value="Lista de Agendamentos"></a>
            <a th:href="@{/cadastrar-produtos}"><input id="btn" type="button" value="Cadastrar Produtos"></a>
            <a th:href="@{/listagem-produtos}"><input id="btn" type="button" value="Lista de Produtos"></a>
        </nav>
        
        <img th:src="@{/images/logo.png}" alt="alt"/>
        
    </body>
</html>